<form #f="ngForm" (submit)="makeCalculations(f, $event)">
  <h2>From</h2>
  <input name="orgins" ngModel type="text" #orgins="ngModel">
  <h2>To</h2>
  <input name="destinations" ngModel type="text" #destinations="ngModel">
  <h2>Result</h2>
  <button type="submit">Check</button>
</form>

<div *ngIf="response">
  <h1>Travel time</h1>
  <ul>
    <li *ngFor="let row of response.rows">
      <ng-container *ngFor="let element of row.elements">
        <span *ngIf="element.duration && element.duration.text; else notFound">
          {{ element.duration.text }}
        </span>
        <ng-template #notFound>
            Not found
        </ng-template>
      </ng-container>
    </li>
  </ul>
</div>
